<br />
<!-- list of comments -->
<div class="callout small">
  <h5><strong> Comments: </strong></h5>
  <ul id = "comments-list">
    <hr>
    <%= render @post.comments %>
</ul>
<!-- new comment -->
  <%= form_tag post_comments_path( @post, :comment ), remote: true do %>
  <div class="form-group">
      <%= text_area_tag :comment, "", class:"form-control" %>
  </div>
  <%= submit_tag "Comment", class:"button" %>
  <% end %>
  </div>
