<!-- should be in view where follow button is included -->
<%= render 'follow_form' %>

<!-- Not working yet - error at if line -->
<!-- send user to _follow or _unfollow partials -->
<% unless current_user?(@user)? %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
