<%= link_to "Back", posts_path, style: "float:left;"  %>
<br>
<br>

<div class="row">
    <div class="small-8 columns">
      <div class="column">
        <%= image_tag(@post.image) %>
        </div>
    </div>
    <div class="small-4 columns">
    <h2 id="header-posts">My Cool Pictures</h2>
    <p id="title"><%= @post.title %></p>
    <p><%=  @post.description %></p>
    <p><button type="button" class="success button"> <i class="fi-like"></i></button><p>
          <p><button type="button" class="success button"><i class="fi-torsos-all"></i></button><p>
    </div>
</div>
