// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-heading {
  font-weight: 500;
  color: #aaa;
  text-transform: uppercase;
}

.large-4 columns{
  max-height:180px;
  overflow:hidden;
}
