<!-- Foundation topbar -->
<div class="top-bar">
  <!-- Left menu -->
  <div class="top-bar-left">
      <ul class="menu">
        <h4 class="top-bar-title menu-brand">DesignUP</h1>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Posts", posts_path %></li>
          <li><%= link_to "Profiles", profiles_path %></li>
      </ul>
  </div>
  <!-- Right menu -->
  <div class="top-bar-right">
    <ul class="menu">

    </ul>
  </div>
</div>
